<mat-card class="progress-card">
  <mat-card-header>
    <mat-card-title>Project Progress</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="progress-item">
      <h5>Project A</h5>
      <mat-progress-bar mode="determinate" [value]="75"></mat-progress-bar>
    </div>
    <div class="progress-item">
      <h5>Project B</h5>
      <mat-progress-bar mode="determinate" [value]="40"></mat-progress-bar>
    </div>
    <div class="progress-item">
      <h5>Project C</h5>
      <mat-progress-bar mode="determinate" [value]="90"></mat-progress-bar>
    </div>
  </mat-card-content>
</mat-card> 