<div class="stats-cards">
  <mat-card class="stat total-projects">
    <div class="title">Total Projects</div>
    <div class="value">24</div>
    <div class="change"><mat-icon>arrow_upward</mat-icon> Increased from last month</div>
  </mat-card>
  <mat-card class="stat ended-projects">
    <div class="title">Ended Projects</div>
    <div class="value">10</div>
    <div class="change"><mat-icon>arrow_upward</mat-icon> Increased from last month</div>
  </mat-card>
  <mat-card class="stat running-projects">
    <div class="title">Running Projects</div>
    <div class="value">12</div>
    <div class="change"><mat-icon>arrow_upward</mat-icon> Increased from last month</div>
  </mat-card>
  <mat-card class="stat pending-projects">
    <div class="title">Pending Project</div>
    <div class="value">2</div>
    <div class="change">On Discuss</div>
  </mat-card>
</div>
