<mat-toolbar color="transparent" class="topbar">
  <div class="search">
    <mat-icon>search</mat-icon>
    <input matInput placeholder="Search task" />
    <span class="shortcut">⌘F</span>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>mail</mat-icon>
  </button>
  <div class="profile">
    <img src="assets/images/avatar.png" alt="User" />
    <div>
      <div class="name">Totok Michael</div>
      <div class="email">tmichael20@mail.com</div>
    </div>
  </div>
</mat-toolbar>
